* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: rgb(5,0,80);
    background: linear-gradient(150deg, rgba(5,0,80,1) 0%, rgba(8,0,135,1) 25%, rgba(48,39,198,1) 50%, rgba(8,0,135,1) 75%, rgba(5,0,80,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: rgba(5,0,80,.5);
    box-shadow: rgba(0, 0, 0, .5) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* FORM */
.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #4338a8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* CLIMA */
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
}

#weather-data h2 i {
    margin: .6rem;
}

#weather-data span {
    margin: .6rem;
}

#country {
    height: 15px;
}

#description {
    font-weight: bold;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #humidity {
    border-right: 1px solid #fff;
    margin: .6rem;
    padding: .6rem;
}